<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="styles/dashboard-style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"/>
    <title>Student Dashboard</title>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2>Home</h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/dashboard" class="active">
                        <span class="material-icons-sharp">home</span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/calendar">
                        <span class="material-icons-sharp">calendar_today</span>
                        <span>Calendar</span>
                    </a>
                </li>
                <li>
                    <a href="/timeline">
                        <span class="material-icons-sharp">timeline</span>
                        <span>Timeline</span>
                    </a>
                </li>
                <li>
                    <a href="/settings">
                        <span class="material-icons-sharp">settings</span>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label>
                    <span class="material-icons-sharp">menu</span>
                </label>
                Dashboard
            </h2>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </header>
        <main>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <span>Courses</span>
                        <h1>3</h1>
                    </div>
                    <div class="dropdown">
                        <span class="material-icons-sharp">more_vert</span>
                        <div class="dropdown-content">
                            <div id="course-edit">Edit</div>
                        </div>
                    </div>
                    <div>
                        <span class="material-icons-sharp">library_books</span>
                        <button>Details</button>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <span>Average Grade</span>
                        <h1>8.3</h1>
                    </div>
                    <div class="dropdown">
                        <span class="material-icons-sharp">more_vert</span>
                        <div class="dropdown-content">
                            <div id="grade-edit">Edit</div>
                        </div>
                    </div>
                    <div>
                        <span class="material-icons-sharp">summarize</span>                            
                        <button>Details</button>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <span>Upcoming Deadline</span>
                        <h2>Submit CO self-assessment</h2>
                    </div>
                    <div>
                        <span class="material-icons-sharp">task</span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <span>Upcoming Event</span>
                        <h2>Kolsch concert</h2>
                    </div>
                    <div>
                        <span class="material-icons-sharp">event_seat</span>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="deadlines">
                    <div class="card">
                        <div class="card-header">
                            <h3>Deadlines</h3>
                            <button>See all
                            </button>
                        </div>
                        <div class="card-body">
                            <table class="deadlines_table" id="deadline_table">
                                <tr>
                                    <th>Type</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>D-Days</th>
                                    <th>Options</th>
                                </tr>
                                <tr id="row1">
                                    <td id="type_row1">Paper</td>
                                    <td id="title_row1">CO-Assignment</td>
                                    <td id="status_row1">Important</td>
                                    <td id="days_row1">15</td>
                                    <td>
                                        <input type="button" id="edit_button1" value="Edit" class="edit" onclick="edit_row('1')">
                                        <input type="button" id="save_button1" value="Save" class="save" onclick="save_row('1')">
                                        <input type="button" id="delete_button1" value="Delete" class="delete" onclick="delete_row('1')">
                                    </td>
                                </tr>
                                <tr id="row2">
                                    <td id="type_row2">Paper</td>
                                    <td id="title_row2">CO-Assignment</td>
                                    <td id="status_row2">Important</td>
                                    <td id="days_row2">15</td>
                                    <td>
                                        <input type="button" id="edit_button2" value="Edit" class="edit" onclick="edit_row('2')">
                                        <input type="button" id="save_button2" value="Save" class="save" onclick="save_row('2')">
                                        <input type="button" id="delete_button2" value="Delete" class="delete" onclick="delete_row('2')">
                                    </td>
                                </tr>
                                <tr id="row3">
                                    <td id="type_row3">Paper</td>
                                    <td id="title_row3">CO-Assignment</td>
                                    <td id="status_row3">Important</td>
                                    <td id="days_row3">15</td>
                                    <td>
                                        <input type="button" id="edit_button3" value="Edit" class="edit" onclick="edit_row('3')">
                                        <input type="button" id="save_button3" value="Save" class="save" onclick="save_row('3')">
                                        <input type="button" id="delete_button3" value="Delete" class="delete" onclick="delete_row('3')">
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="new_type"></td>
                                    <td><input type="text" id="new_title"></td>
                                    <td><input type="text" id="new_status"></td>
                                    <td><input type="text" id="new_days"></td>
                                </tr>
                            </table>
                            <button class="add_row" onclick="add_row()">add new row</button>
                        </div>
                    </div>
                </div>
                <div class="events">
                    <div class="card">
                        <div class="card-header">
                            <h3>Events</h3>
                            <div class="dropdown">
                                <span class="material-icons-sharp">more_vert</span>
                                <div class="dropdown-content">
                                    <div id="event-add">Add</div>
                                    <div id="event-edit">Edit</div>
                                    <div id="event-delete">Delete</div>
                                </div>
                            </div>
                            <button>See all
                            </button>
                        </div>
                        <div class="card-body">
                            <table class="events_table" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Location</th>
                                </tr>
                                <tr>
                                    <td>Name1</td>
                                    <td>Date1</td>
                                    <td>Location1</td>
                                </tr>
                                <tr>
                                    <td>Name2</td>
                                    <td>Date2</td>
                                    <td>Location2</td>
                                </tr>
                                <tr>
                                    <td>Name3</td>
                                    <td>Date3</td>
                                    <td>Location3</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src='javascript/index.js'></script>
    <script>

        function edit(event) {
            console.log("Clicked edit");
            console.log(event.target.parentElement.parentElement);
        };

        function remove() {
            console.log("Clicked delete");
        }

        function addNewRow() {

        }

    </script>
</body>
</html>