<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"/>

    <title>Student Dashboard</title>
</head>
<body>
    <section class="main">
        <div class="main_center">
            <h1>Student Dashboard</h1>
            <div class="description">Create your own personal student dashboard
            </div>
            <a href="#encouragement">
                <button>
                    <span class="material-icons-sharp">arrow_downward</span>
                </button>
            </a>
        </div>
    </section>
    <section class="disclaimer">
        <div class="disclaimer_center">
            <h2>Disclaimer</h2>
            <p class="disclaimer_description">
                This project was purely created for academic and learning purposes. At the moment it is still under development and as 
                such shouldn't use any important credentials. If you wish to explore our website by registering and login, DO NOT use 
                any of your actual emails or passwords. Instead, use a fake email and non-real password.
            </p>
        </div>
    </section>
    <section id='encouragement' class="encouragement">
        <div class="encouragement_center">
            <h2>Unlock Your Full Potential</h2>
            <p class="encouragement_description">
                Every great student needs assistance during their academic lives. That is why we offer you the 
                student dashboard to help you achieve your goals
            </p>
        </div>
    </section>
    <section class="demo">
        <h2>What We Offer</h2>
        <div class="row">
            <div>
                <h3>Record your progress</h3>
                <p>Keep track of all your current courses, grades, deadlines and social events. The dashboard offers
                    a clear view of how you are currently doing and what your current schedule is. We also 
                </p>
            </div>
            <img src="images/demo.png">
        </div>
        <div class="row">
            <img src="images/notification.png">
            <div>
                <h3>Get Notified</h3>
                <p>It is important to get reminded of any upcoming deadlines and events. We notify you well in advance 
                    by sending an email to the email address you have provided so that you will never miss another assignment
                    or exam registration again
                </p>
            </div>
        </div>
        <div class="row">
            <div>
                <h3>See Your Agendas In One</h3>
                <p>Anything you add to the deadlines or agenda section, it will automatically be seen on your calendar or timeline.
                    This will help you get a clear view of the upcoming agenda so that you can better prepare yourself for them
                </p>
            </div>
            <img src="images/timeline.png">
        </div>
        <a href="/login"><button>Get Started</button></a>
    </section >
    <script src='javascript/index.js'></script>
</body>
</html>