<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"/>
    <title>Student Dashboard</title>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2>Home</h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/" class="active">
                        <span class="material-icons-sharp">home</span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/calendar">
                        <span class="material-icons-sharp">calendar_today</span>
                        <span>Calendar</span>
                    </a>
                </li>
                <li>
                    <a href="/timeline">
                        <span class="material-icons-sharp">timeline</span>
                        <span>Timeline</span>
                    </a>
                </li>
                <li>
                    <a href="/settings">
                        <span class="material-icons-sharp">settings</span>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label>
                    <span class="material-icons-sharp">menu</span>
                </label>
                Dashboard
            </h2>
        </header>
        <main>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <span>Courses</span>
                        <h1>4</h1>
                    </div>
                    <div class="dropdown">
                        <span class="material-icons-sharp">more_vert</span>
                        <div class="dropdown-content">
                            <a href="#">Edit</a>
                        </div>
                    </div>
                    <div>
                        <span class="material-icons-sharp">library_books</span>
                        <button>Details</button>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <span>Average Grade</span>
                        <h1>8.3</h1>
                    </div>
                    <div class="dropdown">
                        <span class="material-icons-sharp">more_vert</span>
                        <div class="dropdown-content">
                            <a href="#">Edit</a>
                        </div>
                    </div>
                    <div>
                        <span class="material-icons-sharp">summarize</span>                            
                        <button>Details</button>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <span>Upcoming Deadline</span>
                        <h2>Submit CO self-assessment</h2>
                    </div>
                    <div>
                        <span class="material-icons-sharp">task</span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <span>Upcoming Event</span>
                        <h2>Kolsch concert</h2>
                    </div>
                    <div>
                        <span class="material-icons-sharp">event_seat</span>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="deadlines">
                    <div class="card">
                        <div class="card-header">
                            <h3>Deadlines/Exams</h3>
                            <div class="dropdown">
                                <span class="material-icons-sharp">more_vert</span>
                                <div class="dropdown-content">
                                    <a href="#">Add</a>
                                    <a href="#">Edit</a>
                                    <a href="#">Delete</a>
                                </div>
                            </div>
                            <button>See all
                            </button>
                        </div>
                        <div class="card-body">
                            <table class="deadlines">
                                <tr>
                                    <th>Type</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Days remaining</th>
                                </tr>
                                <tr>
                                    <td>Typdsf1</td>
                                    <td>Tidsdtl1</td>
                                    <td>Stadddtus1</td>
                                    <td>Ds1</td>
                                </tr>
                                <tr>
                                    <td>Typdse2</td>
                                    <td>Titassdsl2</td>
                                    <td>Stdsdfadstdddddddddddddddddddddddddus2</td>
                                    <td>Dayssssssssssssssssssssssssssss2</td>
                                </tr>
                                <tr>
                                    <td>Type3</td>
                                    <td>Titl3</td>
                                    <td>Stassssstus3</td>
                                    <td>Days3</td>
                                </tr>
                                <tr>
                                    <td>Type1</td>
                                    <td>Titl1</td>
                                    <td>Status1</td>
                                    <td>Days1</td>
                                </tr>
                                <tr>
                                    <td>Type2</td>
                                    <td>Titl2</td>
                                    <td>Status2</td>
                                    <td>Days2</td>
                                </tr>
                                <tr>
                                    <td>Type3</td>
                                    <td>Titl3</td>
                                    <td>Status3</td>
                                    <td>Days3</td>
                                </tr>
                                <tr>
                                    <td>Type1</td>
                                    <td>Titl1</td>
                                    <td>Status1</td>
                                    <td>Days1</td>
                                </tr>
                                <tr>
                                    <td>Type2</td>
                                    <td>Titl2</td>
                                    <td>Status2</td>
                                    <td>Days2</td>
                                </tr>
                                <tr>
                                    <td>Type3</td>
                                    <td>Titl3</td>
                                    <td>Status3</td>
                                    <td>Days3</td>
                                </tr>
                                <tr>
                                    <td>Type1</td>
                                    <td>Titl1</td>
                                    <td>Status1</td>
                                    <td>Days1</td>
                                </tr>
                                <tr>
                                    <td>Type2</td>
                                    <td>Titl2</td>
                                    <td>Status2</td>
                                    <td>Days2</td>
                                </tr>
                                <tr>
                                    <td>Type3</td>
                                    <td>Titl3</td>
                                    <td>Status3</td>
                                    <td>Days3</td>
                                </tr>
                                <tr>
                                    <td>Type1</td>
                                    <td>Titl1</td>
                                    <td>Status1</td>
                                    <td>Days1</td>
                                </tr>
                                <tr>
                                    <td>Type2</td>
                                    <td>Titl2</td>
                                    <td>Status2</td>
                                    <td>Days2</td>
                                </tr>
                                <tr>
                                    <td>Type3</td>
                                    <td>Titl3</td>
                                    <td>Status3</td>
                                    <td>Days3</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="events">
                    <div class="card">
                        <div class="card-header">
                            <h3>Events</h3>
                            <div class="dropdown">
                                <span class="material-icons-sharp">more_vert</span>
                                <div class="dropdown-content">
                                    <a href="#">Add</a>
                                    <a href="#">Edit</a>
                                    <a href="#">Delete</a>
                                </div>
                            </div>
                            <button>See all
                            </button>
                        </div>
                        <div class="card-body">
                            <table class="events" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Location</th>
                                </tr>
                                <tr>
                                    <td>Name1</td>
                                    <td>Date1</td>
                                    <td>Location1</td>
                                </tr>
                                <tr>
                                    <td>Name2</td>
                                    <td>Date2</td>
                                    <td>Location2</td>
                                </tr>
                                <tr>
                                    <td>Name3</td>
                                    <td>Date3</td>
                                    <td>Location3</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src='javascript/index.js'></script>
</body>
</html>