<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="styles/style.css">
    <title>Student Dashboard</title>
</head>
<body>
    <section class="main">
        <div class="center">
            <h1>Student Dashboard</h1>
            <div class="description">Enhance your studies by keeping organized track of your
                courses, grades, deadlines, and social events. Guaranteed to give you a more
                successful result throughout your academic life
            </div>
        </div>
    </section>
    <section class="demo">
        <h3 class="demo-description">
            What your dashboard could look like
        </h3>
        <div class="screenshot">
            <img src="images/demo.png" alt="">
        </div>
        <a href="/login"><button>Get Started</button></a>
    </section >
    <script src='javascript/index.js'></script>
</body>
</html>