<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"/>

    <title>Student Dashboard</title>
</head>
<body>
    <section class="main">
        <div class="main_center">
            <h1>Student Dashboard</h1>
            <div class="description">Create your own personal student dashboard
            </div>
            <a href="#encouragement">
                <button>
                    <span class="material-icons-sharp">arrow_downward</span>
                </button>
            </a>
        </div>
    </section>
    <section id='encouragement' class="encouragement">
        <div class="encouragement_center">
            <h2>Unlock your full potential</h2>
            <p class="encouragement_description">
                Every great student needs assistance to for their academic life. The student dashboard 
                aims to assist you in tracking your progress and giving you an easy to see visualization
            </p>
        </div>
    </section>
    <section class="demo">
        <h2>What we offer</h2>
        <div class="row">
            <div>
                <h3>Record your progress</h3>
                <p>Enhance your studies by keeping organized track of your
                    courses, grades, deadlines, and social events. Guaranteed to give you a more
                    successful result throughout your academic life.</p>
            </div>
            <img src="images/demo.png">
        </div>
        <div class="row">
            <img src="images/demo.png">
            <div>
                <h3>Notified of upcoming dates</h3>
                <p>Enhance your studies by keeping organized track. We offer
                    visual graphs and timelines to let you know all your schedules
                </p>
            </div>
        </div>
        <div class="row">
            <div>
                <h3>See your schedule in clear view</h3>
                <p>Enhance your studies by keeping organized track. We offer
                    visual graphs and timelines to let you know all your schedules
                </p>
            </div>
            <img src="images/demo.png">
        </div>
        <a href="/login"><button>Get Started</button></a>
    </section >
    <script src='javascript/index.js'></script>
</body>
</html>