<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="styles/style.css">
    <title>Student dashboard</title>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2>Student dashboard</h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" class="active">
                    <span>Home</a>
                </li>
                <li>
                    <a href="">
                    <span>Calendar</a>
                </li>
                <li>
                    <a href="">
                    <span>Timeline</a>
                </li>
                <li>
                    <a href="">
                    <span>Settings</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label>
                </label>
                Dashboard
            </h2>
        </header>
        <main>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1>4</h1>
                        <span>Current courses</span>
                    </div>
                    <div>
                        Image
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>21</h1>
                        <span>Grade</span>
                    </div>
                    <div>
                        Image
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>54</h1>
                        <span>Upcoming events</span>
                    </div>
                    <div>
                        Image
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="deadlines">
                    <div class="card">
                        <div class="card-header">
                            <h3>Deadlines/Exams</h3>
                        </div>
                        <div class="card-body">
                            <table class="deadlines">
                                <tr>
                                    <th>Type</th>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Days remaining</th>
                                </tr>
                                <tr>
                                    <td>Typdsf1</td>
                                    <td>Tidsdtl1</td>
                                    <td>Stadddtus1</td>
                                    <td>Ds1</td>
                                </tr>
                                <tr>
                                    <td>Typdse2</td>
                                    <td>Titassdsl2</td>
                                    <td>Stdsdfadstdddddddddddddddddddddddddus2</td>
                                    <td>Dayssssssssssssssssssssssssssss2</td>
                                </tr>
                                <tr>
                                    <td>Type3</td>
                                    <td>Titl3</td>
                                    <td>Stassssstus3</td>
                                    <td>Days3</td>
                                </tr>
                                <tr>
                                    <td>Type1</td>
                                    <td>Titl1</td>
                                    <td>Status1</td>
                                    <td>Days1</td>
                                </tr>
                                <tr>
                                    <td>Type2</td>
                                    <td>Titl2</td>
                                    <td>Status2</td>
                                    <td>Days2</td>
                                </tr>
                                <tr>
                                    <td>Type3</td>
                                    <td>Titl3</td>
                                    <td>Status3</td>
                                    <td>Days3</td>
                                </tr>
                                <tr>
                                    <td>Type1</td>
                                    <td>Titl1</td>
                                    <td>Status1</td>
                                    <td>Days1</td>
                                </tr>
                                <tr>
                                    <td>Type2</td>
                                    <td>Titl2</td>
                                    <td>Status2</td>
                                    <td>Days2</td>
                                </tr>
                                <tr>
                                    <td>Type3</td>
                                    <td>Titl3</td>
                                    <td>Status3</td>
                                    <td>Days3</td>
                                </tr>
                                <tr>
                                    <td>Type1</td>
                                    <td>Titl1</td>
                                    <td>Status1</td>
                                    <td>Days1</td>
                                </tr>
                                <tr>
                                    <td>Type2</td>
                                    <td>Titl2</td>
                                    <td>Status2</td>
                                    <td>Days2</td>
                                </tr>
                                <tr>
                                    <td>Type3</td>
                                    <td>Titl3</td>
                                    <td>Status3</td>
                                    <td>Days3</td>
                                </tr>
                                <tr>
                                    <td>Type1</td>
                                    <td>Titl1</td>
                                    <td>Status1</td>
                                    <td>Days1</td>
                                </tr>
                                <tr>
                                    <td>Type2</td>
                                    <td>Titl2</td>
                                    <td>Status2</td>
                                    <td>Days2</td>
                                </tr>
                                <tr>
                                    <td>Type3</td>
                                    <td>Titl3</td>
                                    <td>Status3</td>
                                    <td>Days3</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="events">
                    <div class="card">
                        <div class="card-header">
                            <h3>Events</h3>
                        </div>
                        <div class="card-body">
                            <table class="events" width="100%">
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Location</th>
                                </tr>
                                <tr>
                                    <td>Name1</td>
                                    <td>Date1</td>
                                    <td>Location1</td>
                                </tr>
                                <tr>
                                    <td>Name2</td>
                                    <td>Date2</td>
                                    <td>Location2</td>
                                </tr>
                                <tr>
                                    <td>Name3</td>
                                    <td>Date3</td>
                                    <td>Location3</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>