<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="styles/style.css">
    <title>Student dashboard</title>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h1>Student dashboard</h1>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" class="active">
                    <span>Home</a>
                </li>
                <li>
                    <a href="">
                    <span>Calendar</a>
                </li>
                <li>
                    <a href="">
                    <span>Timeline</a>
                </li>
                <li>
                    <a href="">
                    <span>Settings</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h1>
                <label>

                </label>
                Dashboard
            </h1>
        </header>
        <main>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1>54</h1>
                        <span>Deadlines/exams</span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>16</h1>
                        <span>Current courses</span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>21</h1>
                        <span>Grades</span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h1>54</h1>
                        <span>Upcoming events</span>
                    </div>
                </div>
            </div>
        </main>
    </div>

</body>
</html>