<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="styles/authenticate-style.css">
    <title>Student Dashboard</title>
</head>
<body>
    <div class="center">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <div class="txt-field">
                <input type="email" id="email" name="email" required>
                <span></span>
                <label for="email">Email</label>
            </div>
            <div class="txt-field">
                <input type="text" id="username" name="username" required>
                <span></span>
                <label for="username">Username</label>
            </div>
            <div class="txt-field">
                <input type="password" id="password" name="password" required>
                <span></span>
                <label for="password">Password</label>
            </div>
            <button type="submit">Register</button>
            <div class="register-link">
            </div>
        </form>
    </div>
    <script src='javascript/index.js'></script>
</body>
</html>