<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"/>
    <title>Student Dashboard</title>
</head>
<body>
    <div>
        <div>Our developers are working hard to give you a more convenient login 
            method and it will be ready soon. Until then, please enter your 
            unique code to login. If you don't have a unique code yet, click 
            generate code and please remember it to login in the future</div>
        <button>Generate code</button>
        <button>Login</button>
    </div>
    <script src='javascript/index.js'></script>
</body>
</html>